[Learn Numpy in 1 hour!](https://youtu.be/VXU4LSAQDSc?si=YUhA8ToQyiHlsXgs)

### Numpy: Numerical Python<br>
**Use in**
1. Data Science
2. Engineering
3. Machine Learning and Ai

**Why python**
1. Offers many libraries
2. Intergrates well with:
   - APIs, databases, and web apps
3. Python is slow
    - So Numpy comes into existence its written in C
4. list = [1, 2, 3] and array = np.array([1,2,3])

In [1]:
[1,3,2] * 2 # would repeat all the elements by twice

[1, 3, 2, 1, 3, 2]

In [2]:
# vectorized operations
import numpy as np
np.array([1,3,4])*2

array([2, 6, 8])

In [4]:
print(np.__version__) #dunder function

2.1.3

In [5]:
my_list = [1,2,4,5]
print(my_list)

[1, 2, 4, 5]

In [6]:
my_list*2

[1, 2, 4, 5, 1, 2, 4, 5]

In [7]:
array = np.array([1,23,54,2,54])
print(array)

[ 1 23 54  2 54]

In [9]:
print(type(array)) #nd number of dimensional

<class 'numpy.ndarray'>

In [10]:
array = array*2
array

array([  2,  46, 108,   4, 108])

### Multidimensional arrays
0, dimensional like a point <br>
1 means 1 line <br>
2 means square <br> and so on

In [12]:
array = np.array('A') #zero dimension
array.ndim

0

In [13]:
array = np.array(['A', 'B', 'C', 'B', 'R']) # number of dimensions are 1
array.ndim

1

In [15]:
#rows and colums 2 dimensional
array = np.array([
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
])
array.ndim

2

In [25]:
my_array = np.array([
    [['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']],
    [['J', 'k', 'L'], ['M', 'N', 'o'], ['p', 'q', 'x']],
    [['r', 's', 'x'], ['X', 'y', 'z'], ['T', 'W', 'U']]
])
my_array.ndim

3

In [26]:
my_array.shape 
#tuple
# three layers
# each layer has three rows
# each row has 3 colums

(3, 3, 3)

In [22]:
my_array1 = np.array([
    [['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']],
    [['J', 'k', 'L'], ['M', 'N', 'o'], ['p', 'q', 'x']],
])
my_array1.ndim
# its still three dimension

3

In [23]:
my_array1.shape
# two layers
# 3 three rows
# 3 columns

(2, 3, 3)

In [27]:
print(my_array)

[[['A' 'B' 'C']
  ['D' 'E' 'F']
  ['G' 'H' 'I']]

 [['J' 'k' 'L']
  ['M' 'N' 'o']
  ['p' 'q' 'x']]

 [['r' 's' 'x']
  ['X' 'y' 'z']
  ['T' 'W' 'U']]]

In [32]:
print(my_array[0][0][0]) #chain indexing
# first layer index zero
# first row index 0
# first column 0

A

In [33]:
print(my_array[1][2][1]) #q
# second layer
# third row
# second columns

q

In [34]:
A1 = np.array([
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ],
    [
        [19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]
    ]
])
print(A1)

[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

In [39]:
print(A1[2][1][2]) #chain indexing

24

In [38]:
print(A1[2, 1, 2]) #multidimensional indexing faster

24

In [37]:
print(A1[1, 1, 1]) #14

14

In [40]:
print(my_array)

[[['A' 'B' 'C']
  ['D' 'E' 'F']
  ['G' 'H' 'I']]

 [['J' 'k' 'L']
  ['M' 'N' 'o']
  ['p' 'q' 'x']]

 [['r' 's' 'x']
  ['X' 'y' 'z']
  ['T' 'W' 'U']]]

In [43]:
#concatination
word = my_array[0, 0, 1] + my_array[0, 2, 0] + my_array[1, 2, 2] + my_array[2, 1, 0] + my_array[0, 2, 2]
#BGxXI
print(word)

BGxXI

### Slicing

In [44]:
# Lets make a two d array
two_d = np.array([
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
])
two_d.shape

(4, 4)

In [49]:
two_dd = np.array([
    [[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ]],
    [[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ],
    [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
    ]]
])
two_dd.shape

(2, 5, 4, 4)

In [50]:
two_dd.ndim

4

In [52]:
print(two_d)
print(two_d.shape)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
(4, 4)

In [58]:
# array[start:end:step]
print(two_d[1:4])

[[ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

In [56]:
print(two_d[-1])

[13 14 15 16]

In [62]:
# ending index in is exclusive
print(two_d[0:4:2])

[[ 1  2  3  4]
 [ 9 10 11 12]]

In [63]:
print(two_d[::2])

[[ 1  2  3  4]
 [ 9 10 11 12]]

In [64]:
print(two_d[::-1])

[[13 14 15 16]
 [ 9 10 11 12]
 [ 5  6  7  8]
 [ 1  2  3  4]]

In [66]:
#Now lets see for columns
print(two_d[:, 0]) #all rows and first element

[ 1  5  9 13]

In [67]:
print(two_d[:, 1])

[ 2  6 10 14]

In [68]:
print(two_d[0:2, 0])

[1 5]

In [69]:
print(two_d[:, -1]) #last column

[ 4  8 12 16]

In [70]:
print(two_d)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

In [72]:
# I need first three columns in all the row
print(two_d[:, 0:3])

[[ 1  2  3]
 [ 5  6  7]
 [ 9 10 11]
 [13 14 15]]

In [74]:
# I need firt two columns in first two rows 2x2
print(two_d[:2, :2])

[[1 2]
 [5 6]]

In [75]:
#similarly for last
print(two_d[2:, 2:])

[[11 12]
 [15 16]]

In [76]:
#Need every second column
print(two_d[:, ::2]) #0 and 1

[[ 1  3]
 [ 5  7]
 [ 9 11]
 [13 15]]

In [77]:
print(two_d[:, ::-1])

[[ 4  3  2  1]
 [ 8  7  6  5]
 [12 11 10  9]
 [16 15 14 13]]

In [78]:
print(two_d[:2, 2:])

[[3 4]
 [7 8]]

### Arithmatic

In [81]:
# Scalar arithmatic
array = np.array([1, 2, 3])
print('Add: ', array+1)
print('Minus: ', array-2)
print('Divide: ', array/4)
print("Multiply: ", array*2)
print("Power: ", array**5)

Add:  [2 3 4]
Minus:  [-1  0  1]
Divide:  [0.25 0.5  0.75]
Multiply:  [2 4 6]
Power:  [  1  32 243]

In [82]:
# Vectorized math functions
# A vector is a single dimension
print(np.sqrt(array))

[1.         1.41421356 1.73205081]

In [84]:
array = np.array([1.02, 2.99, 2.5, 2.6, 32.49])
# Lets round all the values
print(np.round(array))
print(np.floor(array)) #round down
print(np.ceil(array)) # roudn up

[ 1.  3.  2.  3. 32.]
[ 1.  2.  2.  2. 32.]
[ 2.  3.  3.  3. 33.]

In [85]:
print(np.pi)

3.141592653589793

In [87]:
# Excersie
radii = np.array([1, 2, 3])
print(np.pi * radii**2)

[ 3.14159265 12.56637061 28.27433388]

In [90]:
#Element-wise arithmetic
array1 = np.array([1,2,4])
array2 = np.array([2, 3, 5])
print(array1 + array2)
print(array1 - array2)
print(array1 / array2)
print(array1 * array2)
print(array1 ** array2)
print(array1 // array2)
print(array1 % array2)

[3 5 9]
[-1 -1 -1]
[0.5        0.66666667 0.8       ]
[ 2  6 20]
[   1    8 1024]
[0 0 0]
[1 2 4]

In [91]:
# Comparison Operators
scores = np.array([91, 55, 100, 73, 82, 64])
print(scores == 100)

[False False  True False False False]

In [92]:
print(scores >= 60)

[ True False  True  True  True  True]

In [93]:
scores[scores < 60] = 0 failed

In [94]:
scores

array([ 91,   0, 100,  73,  82,  64])

### BroadCasting
1. Broadcasting allows Numpy to perform operations on arrays with different shapes by virtually expanding dimensions so they the larger array's shape.
2. from right to left they either match or one of them is 1

In [98]:
array1 = np.array ([[1,3,4,5]])
array2 = np.array([[1],[2], [3], [4]])
print(array1)
print(array1.shape)
print(array1.ndim)
print("---------")
print(array2)
print(array2.shape)
print(array2.ndim)

[[1 3 4 5]]
(1, 4)
2
---------
[[1]
 [2]
 [3]
 [4]]
(4, 1)
2

In [100]:
print(array1.shape)
print(array2.shape)
#start matching the dimensions from right to left
array1 * array2

(1, 4)
(4, 1)

array([[ 1,  3,  4,  5],
       [ 2,  6,  8, 10],
       [ 3,  9, 12, 15],
       [ 4, 12, 16, 20]])

In [102]:
# now lets change the dimension
array1 = np.array ([[1,3,4,5],
                   [1,3,53,2]])
array2 = np.array([[1],[2], [3], [4]])
print(array1.shape)
print(array2.shape)
array1*array2

(2, 4)
(4, 1)

ValueError: operands could not be broadcast together with shapes (2,4) (4,1)

In [103]:
array1 = np.array ([[1,3,4,5],
                   [1,3,53,2],
                   [1,3,53,2],
                    [1,3,53,2]
                   ])
array2 = np.array([[1],[2], [3], [4]])
print(array1.shape)
print(array2.shape)
array1*array2

(4, 4)
(4, 1)

array([[  1,   3,   4,   5],
       [  2,   6, 106,   4],
       [  3,   9, 159,   6],
       [  4,  12, 212,   8]])

In [104]:
array1 = np.array ([[1,3,4,5],
                   [1,3,53,2],
                   [1,3,53,2],
                    [1,3,53,2]
                   ])
array2 = np.array([[1,1],[2,3], [3,5], [4,3]])
print(array1.shape)
print(array2.shape)
array1*array2

(4, 4)
(4, 2)

ValueError: operands could not be broadcast together with shapes (4,4) (4,2)

In [110]:
array1 = np.array([[1,2,4,3,5,6,7,8,9,10]])
print(array1.shape)
print(array1.ndim)
array2 = np.array([[1], [2], [3], [4], [5], [6], [7], [8], [9], [10]])
print(array2.shape)
print(array2.ndim)
print(array1*array2)
print(array1-array2)

(1, 10)
2
(10, 1)
2
[[  1   2   4   3   5   6   7   8   9  10]
 [  2   4   8   6  10  12  14  16  18  20]
 [  3   6  12   9  15  18  21  24  27  30]
 [  4   8  16  12  20  24  28  32  36  40]
 [  5  10  20  15  25  30  35  40  45  50]
 [  6  12  24  18  30  36  42  48  54  60]
 [  7  14  28  21  35  42  49  56  63  70]
 [  8  16  32  24  40  48  56  64  72  80]
 [  9  18  36  27  45  54  63  72  81  90]
 [ 10  20  40  30  50  60  70  80  90 100]]
[[ 0  1  3  2  4  5  6  7  8  9]
 [-1  0  2  1  3  4  5  6  7  8]
 [-2 -1  1  0  2  3  4  5  6  7]
 [-3 -2  0 -1  1  2  3  4  5  6]
 [-4 -3 -1 -2  0  1  2  3  4  5]
 [-5 -4 -2 -3 -1  0  1  2  3  4]
 [-6 -5 -3 -4 -2 -1  0  1  2  3]
 [-7 -6 -4 -5 -3 -2 -1  0  1  2]
 [-8 -7 -5 -6 -4 -3 -2 -1  0  1]
 [-9 -8 -6 -7 -5 -4 -3 -2 -1  0]]

### Aggregate Functions
**Summarize data and typically return single value**

In [112]:
array = np.array([
    [1,2,3,4,5],
    [6, 7, 8, 9, 10]
                 ])
print(array)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [113]:
print(np.sum(array))

55

In [114]:
print(np.mean(array))

5.5

In [115]:
print(np.std(array))

2.8722813232690143

In [116]:
print(np.var(array))

8.25

In [117]:
print(np.min(array))

1

In [119]:
print(np.max(array))

10

In [120]:
# position of minimun value
print(np.argmin(array))

0

In [121]:
print(np.argmax(array))

9

In [122]:
print(np.sum(array, axis=0)) # summing all the columns

[ 7  9 11 13 15]

In [123]:
print(np.sum(array, axis=1)) #summing all the rows

[15 40]

### Filtering
**Refers to the process of selecting elements from an array that match a given a condition**

In [132]:
ages = np.array([
    [21,17, 19, 20, 16, 30, 18, 55],
    [39, 22, 15, 99, 18, 19, 20, 66]
                ])
teenagers = ages[ages < 18] #this is boolean indexing
print(teenagers)
adults = ages[(ages >= 18) & (ages < 65)]
print(adults)
seniors = ages[ages >= 65]
print(seniors)
evens = ages[ages % 2 == 0]
print(evens)
odds = ages[ages%2 != 0]
print(odds)

[17 16 15]
[21 19 20 30 18 55 39 22 18 19 20]
[99 66]
[20 16 30 18 22 18 20 66]
[21 17 19 55 39 15 99 19]

In [134]:
# Changing the original shape 
ages = np.array([
    [21,17, 19, 20, 16, 30, 18, 55],
    [39, 22, 15, 99, 18, 19, 20, 66]
                ])
adults = np.where(ages >= 18, ages, 0)
adults

array([[21,  0, 19, 20,  0, 30, 18, 55],
       [39, 22,  0, 99, 18, 19, 20, 66]])

### Random Numbers
Useful for 
1. Simulations
2. Modeling
3. applying random transformation
4. testing purposes

In [140]:
rng = np.random.default_rng()
print(rng.integers(1,7))

6

In [145]:
rng = np.random.default_rng()
print(rng.integers(low = 1, high = 100))

28

In [146]:
rng = np.random.default_rng()
print(rng.integers(low = 1, high = 100, size = 10))

[67 60 63 88 89 76 90 11 50 64]

In [147]:
rng = np.random.default_rng()
print(rng.integers(low = 1, high = 100, size = (3, 2)))

[[28 30]
 [26 55]
 [67  6]]

In [151]:
#to create the same the number
rng = np.random.default_rng(seed = 1)
print(rng.integers(low = 1, high = 100, size = (3, 2)))

[[47 51]
 [75 95]
 [ 4 15]]

In [155]:
#for floating
print(np.random.uniform(low = -1, high = 1, size = (3,1)))

[[0.79419231]
 [0.1120669 ]
 [0.22783264]]

In [157]:
# to shuffle our array
rng = np.random.default_rng()
array = np.array([1,2,4,5,3])
rng.shuffle(array)
print(array)

[3 5 4 1 2]

In [158]:
fruits = np.array(
    ['Apple', 'orange', 'banana', 'coconut', 'pineapple']
)
fruits = rng.choice(fruits)
print(fruits)

coconut

In [159]:
fruits = np.array(
    ['Apple', 'orange', 'banana', 'coconut', 'pineapple']
)
fruits = rng.choice(fruits, size = 3)
print(fruits)

['banana' 'coconut' 'Apple']

In [160]:
fruits = np.array(
    ['Apple', 'orange', 'banana', 'coconut', 'pineapple']
)
fruits = rng.choice(fruits, size = (3,3))
print(fruits)

[['banana' 'orange' 'banana']
 ['orange' 'coconut' 'Apple']
 ['pineapple' 'orange' 'Apple']]